---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: grafana
  name: grafana
  
spec:
  selector:
    matchLabels:
      app: grafana
  template:
    metadata:
      labels:
        app: grafana
    spec:
      securityContext:
        fsGroup: 472
        supplementalGroups:
          - 0
      containers:
        - name: grafana
          image: grafana/grafana:8.4.4
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 3000
              name: http-grafana
              protocol: TCP
          readinessProbe:
            failureThreshold: 3
            httpGet:
              path: /robots.txt
              port: 3000
              scheme: HTTP
            initialDelaySeconds: 10
            periodSeconds: 30
            successThreshold: 1
            timeoutSeconds: 2
          livenessProbe:
            failureThreshold: 3
            initialDelaySeconds: 30
            periodSeconds: 10
            successThreshold: 1
            tcpSocket:
              port: 3000
            timeoutSeconds: 1
          resources:
            requests:
              cpu: 100m
              memory: 400Mi
            limits:
              cpu: 100m
              memory: 400Mi
          volumeMounts:
            - mountPath: /var/lib/grafana
              name: grafana-data
            - mountPath: /etc/grafana/provisioning/datasources
              name: grafana-datasource
            - mountPath: /etc/grafana/provisioning/dashboards
              name: grafana-dashboard-provider
            - mountPath: /etc/grafana/dashboards
              name: grafana-dashboards            
      volumes:
        - name: grafana-data
          emptyDir: {}
        - name: grafana-datasource
          configMap:
            name: grafana-datasource-config
        - name: grafana-dashboards
          configMap:
            name: grafana-dashboards
        - name: grafana-dashboard-provider
          configMap:
            name: grafana-dashboard-provider-config

---
apiVersion: v1
kind: Service
metadata:
  name: grafana
  
  labels:
    app: grafana
    monitored-by-prometheus: "true"
spec:
  type: NodePort
  ports:
  - name: http-grafana
    nodePort: 30000
    port: 3000
    protocol: TCP
    targetPort: http-grafana
  selector:
    app: grafana

# ---
# apiVersion: v1
# kind: Service
# metadata:
#   name: grafana
#   labels:
#     app: grafana
# spec:
#   ports:
#     - port: 3000
#       protocol: TCP
#       targetPort: http-grafana
#   selector:
#     app: grafana
#   sessionAffinity: None
#   type: LoadBalancer