apiVersion: monitoring.coreos.com/v1
kind: Prometheus
metadata:
  name: prometheus
  
  annotations:
    argocd.argoproj.io/sync-options: Replace=true
spec:
  replicas: 3
  podMetadata:
    labels:
      thanos-store-api: "true"
  serviceAccountName: prometheus
  serviceMonitorNamespaceSelector: {}
  serviceMonitorSelector: {}
  podMonitorSelector: {}
  additionalScrapeConfigs:
    name: additional-scrape-configs
    key: jobs
  thanos:
    resources:
      requests:
        memory: 400Mi
  resources:
    requests:
      memory: 400Mi
  alerting:
    alertmanagers:
    - namespace: default
      name: alertmanager-operated
      port: web
  ruleSelector:
    matchLabels:
      role: alert-rules
  retention: 12h

---
apiVersion: v1
kind: Service
metadata:
  name: prometheus
  
  labels:
    app: prometheus
    monitored-by-prometheus: "true"
spec:
  type: NodePort
  ports:
  - name: web
    nodePort: 30090
    port: 9090
    protocol: TCP
    targetPort: web
  selector:
    prometheus: prometheus

---
apiVersion: v1
kind: Service
metadata:
  name: thanos-sidecar
  
  labels:
    app: thanos-sidecar
    monitored-by-prometheus: "true"
spec:
  selector:
    thanos-store-api: "true"
  type: ClusterIP
  clusterIP: None
  ports:
  - name: grpc
    port: 10901
    targetPort: grpc
  - name: http
    port: 10902
    targetPort: http
