---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: thanos-query
  
  labels:
    app: thanos-query
spec:
  replicas: 1
  selector:
    matchLabels:
      app: thanos-query
  template:
    metadata:
      labels:
        app: thanos-query
    spec:
      containers:
      - name: thanos-query
        image: thanosio/thanos:v0.25.2
        resources:
          limits:
            cpu: 400m
            memory: 400Mi
          requests:
            cpu: 100m
            memory: 400Mi
        args:
        - "query"
        - "--log.level=debug"
        - "--query.replica-label=prometheus_replica"
        ## dnssrv+_grpc._tcp{[name of service]}.{[namespace]}.svc.cluster.local
        - "--store=dnssrv+_grpc._tcp.thanos-sidecar.default.svc.cluster.local"
        ports:
        - name: http
          containerPort: 10902
        - name: grpc
          containerPort: 10901
        - name: cluster
          containerPort: 10900
---
apiVersion: v1
kind: Service
metadata:
  name: thanos-query-cluserip
  
  labels:
    app: thanos-query
spec:
  selector:
    app: thanos-query
  type: ClusterIP
  clusterIP: None
  ports:
  - name: grpc
    port: 10901
    targetPort: grpc
---
apiVersion: v1
kind: Service
metadata:
  name: thanos-query-nodeport
  
  labels:
    app: thanos-query
    monitored-by-prometheus: "true"
spec:
  selector:
    app: thanos-query
  type: NodePort
  ports:
  - name: http
    nodePort: 30902
    port: 10902
    protocol: TCP
    targetPort: http
